<!-- <div class = "account"> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<form method = "POST" action = "">

<div class="form-title"><h2>Hello {{firstName}}!!!</h2></div>

	<ul>
		{{#each dnaStrands}}

			<input type = "checkbox" name = "StuffChecked[]" value = "{{dnaName}}">
			<a href = /../dna/{{slug}}>{{dnaName}}</a>

			<br />
			<br />

			<!--<input type = "hidden" name = "slug" value = "{{slug}}">-->
		{{/each}}
	</ul>

	<a href = "/../add">Add new DNA</a>

	<br />
	<br />

	<input type = "submit" class = "btn" value = "Delete Checked Items" />

</div>

</form>


<!--
<script>
$("#formId").submit(function(){
	$("input[type=checkbox][checked]").each(function() { 
		alert("hello!!!");
		alert("name" + this);
    	$(this).attr("name", "stuffChecked");
    });    
});
</script> 
-->


