<!-- <div class = "account"> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<form id = "formId" method = "POST" action = "">
<div class="form-title"><h2>Hello {{firstName}}!!!</h2></div>

	<ul>
		{{#each dnaStrands}}
			{{#if notChecked}}
					<input type = "checkbox" id = "{{dnaName}}" name = "{{dnaName}}" value = "not checked">
					<a href = /../dna/{{slug}}>{{dnaName}}</a>
					<br />
					<br />
			{{/if}}
			<!--<input type = "hidden" name = "slug" value = "{{slug}}">-->
		{{/each}}
	</ul>

	<a href = "/../add">Add new DNA</a>
	<br />
	<br />
	<input type = "submit" class = "btn" value = "Delete Checked Items" />

</div>

</form>



<script>
$("#formId").submit(function(){
	$("input[type=checkbox][checked]").each(function() { 
		alert("hello!!!");
		alert("name" + this);
    	$(this).attr("name", "stuffChecked");
    });    
});
</script>


<!--
<script>
	dnaStrandsArr = {{{dnaStrands}}}.split(,);
	console.log("strands array: " + dnaStrandsArr);
	for (var x = 0; x < {{dnaStrands}}.length; x ++){
		console.log("this is the dna Name: " + ({{dnaStrands}}[x].{{dnaName}}).id);
		if(document.getElementById(({{dnaName}}).id).checked == true){
			console.log("inside script of account");
			document.getElementById(({{dnaName}}).id).value = "Checked";
		}
		console.log(document.getElementById(({{dnaName}}).id).checked);

	}
</script>
-->

