<!-- <div class = "dna"> -->
<h3>{{dnaName}} Information</h3> 

DNA sequence is : {{dnaSeq}}
<input type="hidden" id="seq" value = "{{dnaSeq}}">

<br />
<br />

<!-- adjust height of canvas by lenth of sequence + 1 -->
<canvas id = "sketch" width = "450" height = "{{lenCanvas}}">
</canvas>

<script src = "/javascripts/dna.js"> </script>
	

<br />
<br />


<input type="button" class = "btn" value="Back to List" onClick="history.go(-1);">
	
<!-- <a href = /../account/{{userSlug}}>Return To User!</a> -->
