<!-- <div class = "dna"> -->
<h3>{{dnaName}} Information</h3> 

<form method = "POST" action = "">

DNA sequence is : {{dnaSeq}}

<div class="form-title">DNA Sequence</div>
<input class = "form-field" type = "text" name = "findDna" required/><br />

<br />

<div class="submit-container">
<input class = "btn" type = "submit" value = "Find" />
</div>

</form>
{{occur}}


<input type="hidden" name = "dnaName" value = "{{dnaName}}">
<input type="hidden" name = "seq" id="seq" value = "{{dnaSeq}}">

<br />
<br />

<!-- adjust height of canvas by lenth of sequence + 1 -->
<canvas id = "sketch" width = "450" height = "{{lenCanvas}}">
</canvas>

<script src = "/javascripts/dna.js"> </script>
	

<br />
<br />


<input type="button" class = "btn" value="Back to List" onClick="history.go(-1);">
	



<!-- TESTING -->
	
<!-- <a href = /../account/{{userSlug}}>Return To User!</a> -->
